/* =================== top =================== */
.top_move{
  position: fixed;
  right: 90px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #8FCACA;
  z-index: 9999;
  color: white;
  cursor: pointer;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.8);
}

#nav_button{
  display: none;
}

.nav_button_container{
  display: none;
}

.navbar{
  box-sizing: border-box;
  padding: 0 50px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 9999;
}

a {
  text-decoration: none;
  color: black;
  text-align: start;
}

.logo img{
  width: 40px;
}

.nav_menu{
  display: flex;
  align-items: center;
  width: 500px;
  height: 100%;
}

.nav_menu ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-left: -10px;
}

.nav_menu ul li {
  /* color: #8FCACA; */
  font-size: 24px;
  cursor: pointer;
  font-weight: 300;
}

.nav_menu ul li a:hover {
  color: #8FCACA;
}

.progress_bar{
  position: fixed;
  top:90px;
  left: 0;
  right: 0;
  height: 5px;
  background: #8FCACA;
  transform-origin: 0%;
  border-radius: 12px;
  z-index: 1000;
}

.top_image{
  position: relative;
  width: 100%;
  height: calc(100vh - 150px);
}

.top_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.top_title_container{
  position: absolute;
  left: 60px;
  bottom: 160px;
  z-index: 1;
  font-size: 50px;
}

.top_main_title{
  color: white;
  font-weight: bold;
  font-size: 72px;
  margin-bottom: 50px;
}

.top_title_1,
.top_title_2 {
  color: white;
}

/* =================== section_one =================== */
.section_one{
  width: 100%;
  height: 500px;
  background-color: #FEFEEE;
}

.white_box {
  position: relative;
  width: 70%;
  height: 800px;
  background-color: white;
  z-index: 10;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.white_box_text_container {
  position: absolute;
  top: 40%;
  left: 110px;
}

.white_box_text_title {
  font-size: 40px;
  font-weight: bold;
}

.white_box_text_sub_title_container {
  margin-top: 20px;
  z-index: 1000;
}

.white_box_text_sub_title {
  line-height: 40px;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.5);
}

.box_in_image{
  position: absolute;
  margin-top: 70px;
  right: -400px;
  width: 800px;
  height: 870px;
  z-index: 0;
}

.section_image_box{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.green_box{
  position: absolute;
  right: 0;
  width: 400px;
  height: 70px;
  background-color: #8FCACA;
  z-index: 1;
  box-shadow: 2px 1px 3px 0 rgba(0,0,0,0.4);
}

.section_one_image{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 800px;
  border-radius: 12px 0 0 12px;
  object-fit: cover;
  z-index: 10;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.item_container{
  position: relative;
  width: 100%;
  height: 1800px;
  background-color: #D9D9D9;
}

.rule_item_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  top: 530px;
  z-index: 1;
}

/* =================== section_two =================== */
.section_two{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  background-color: #FEFEEE;
}

.section_two_white_box{
  position: relative;
  width: 70%;
  height: 800px;
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.section_two_white_box_text_container{
  position: absolute;
  top: 40%;
  right: 110px;
}

.section_two_white_box_text_title{
    font-size: 40px;
    font-weight: bold;
}

.section_two_white_box_text_sub_title_container{
  margin-top: 20px;
}

.section_two_white_box_text_sub_title{
  line-height: 40px;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.5);
}

.section_two_box_in_image {
  position: absolute;
  margin-top: 70px;
  left: -400px;
  width: 800px;
  height: 870px;
}

.section_two_green_box{
  position: absolute;
  left: 0;
  width: 400px;
  height: 70px;
  background-color: #8FCACA;
  z-index: 1;
  box-shadow: -2px 1px 3px 0 rgba(0, 0, 0, 0.4);
}

.section_two_image_box {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.section_two_image{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 800px;
  border-radius: 0 12px 12px 0;
  object-fit: cover;
  z-index: 10;
  box-shadow: -2px 3px 4px 0 rgba(0, 0, 0, 0.5);
}

.section_two_item_container{
  position: relative;
  width: 100%;
  height: 1500px;
  background-color: #D9D9D9;
}

.section_two_rule_item_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  top: 530px;
  z-index: 1;
}

.test_section{
  z-index: -1;
}

.first_test{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 34000px;
  text-align: center;
}

.test_text_hello{
  position: sticky;
  top: 40%;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.test_last_text{
  top: 32%;
  z-index: 10;
  font-size: 50px;
  color: black;
}

.first_test .test_image_first {
  position: sticky;
  top: 25%;
  width: 400px;
  height: 200px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.none_box1{
  height: 4000px;
}

.none_box2{
  height: 500px;
}

.test_box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: sticky;
  top: 15.3%;
  left: 60%;
  width: 500px;
  height: 60vh;
}

.test_box p{
  position: static;
}

.last_container{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10000px;
  background-color: white;
}

.last_image_text{
  position: fixed;
  top: 50%;
  right: 30%;
  z-index: 100;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}

.last_image_text2{
  position: fixed;
  top: 50%;
  left: 10%;
  z-index: 100;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}

.last_container_images{
  top: 90px;
  position: sticky;
}

.last_image{
  position: absolute;
  left: 0;
  width: 99vw;
  height: calc(100vh - 90px);
  z-index: 1000;
}

.last_image1{
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  object-position: bottom 200px right 0;
}

/* =================== footer =================== */
.footer{
  display: flex;
  background-color: black;
  width: 100%;
  height: 300px;
}

.footer_container {
  width: 100%;
  max-width: 70%;
  height: 200px;
  margin: 30px auto;
  color: rgba(255, 255, 255, 0.9);
}

.footer_text_line {
  color: rgba(255, 255, 255, 0.7);
}

.footer_flex_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer_main_text span,
strong {
  display: inline-block;
  margin-top: 5px;
}

.footer_icon_container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

}

.footer_icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;

}

.footer_icon_last {
  display: flex;
  width: 70px;
  align-items: center;

}

.footer_last_one {
  display: flex;
  font-weight: 600;
  cursor: pointer;
}

.footer_last_one p {
  margin-right: 20px;
}


.footer_last_two {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  cursor: pointer;
}

.footer_last_two p:nth-child(2) {
  color: white;
}

.footer_last_two p {
  margin-right: 20px;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {

  .nav_menu{
    display: none;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: white;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
  }

  .nav_menu nav{
    display: block;
    width: 100%;
    height: 100%;
  }

  .nav_menu nav ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav_menu ul li{
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 300;
  }

  .nav_menu ul li:hover{
    background-color: #8FCACA;
  }

  .nav_menu ul li a:hover {
    color: white;
  }

  .nav_button_container{
    display: block;
    cursor: pointer;
  }

  #nav_button:checked~.nav_menu{
    position: absolute;
    display: block;
    top: 90px;
    
  }

  #nav_button:checked~.nav_menu ul li{
    display: block;
  }

  /* ================ top =================== */

  .top_title_container {
    position: absolute;
    left: 60px;
    bottom: 160px;
    z-index: 1;
    font-size: 20px;
  }

  .top_main_title {
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
  }

  .top_image {
    position: relative;
    width: 100%;
    height: 70vh;
  }

  /* ================ section1 =================== */
  .test_section {
    z-index: -1;
  }

  .first_test {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 33000px;
    text-align: center;
  }

  .test_text_hello {
    position: sticky;
    top: 40%;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  .test_last_text {
    top: 32%;
    right: 0;
    z-index: 10;
    font-size: 50px;
    color: black;
  }

  .none_box1 {
    height: 4000px;
  }

  .none_box2 {
    height: 500px;
  }

  .test_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    position: sticky;
    padding-right: 20px;
    top: 15.3%;
    left: 60%;
    width: 500px;
    height: 60vh;
  }

  .test_box p {
    position: static;
  }

  .last_container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10000px;
    background-color: white;
  }

  .last_image_text {
    position: fixed;
    top: 50%;
    right: 10%;
    z-index: 100;
    font-size: 80px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  }

  .last_image_text2 {
    position: fixed;
    top: 50%;
    left: 20%;
    z-index: 100;
    font-size: 80px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  }

  .last_container_images {
    top: 90px;
    position: sticky;
  }

  .last_image {
    position: absolute;
    left: 0;
    width: 99vw;
    height: calc(100vh - 90px);
    z-index: 1000;
  }

  .last_image1 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 111vh;
    object-position: bottom 200px right 0;
  }

  /* ================ section2 =================== */
 .white_box_text_container {
   position: absolute;
   top: 40%;
   left: 5%;
 }

  .white_box_text_title {
    font-size:25px;
    font-weight: bold;
  }

  .white_box_text_sub_title {
    line-height: 40px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
  }

  .section_one_image {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 800px;
    border-radius: 12px 0 0 12px;
    object-fit: cover;
    z-index: 10;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.4);
  }
}